.ourGym {
    background: url('../images/blackbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.ourGym img {
    box-shadow: 12px 18px rgb(253, 155, 80);
    margin: 0 auto;
}

.ourGym .card {
    background-color: transparent;
}

.ourGym .card .btn {
    background-color: transparent;
    color: rgb(253, 155, 80);
    font-weight: 400;
    box-shadow: 6px 8px rgb(253, 155, 80);
    border: 1px solid rgb(253, 155, 80);
    border-radius: 0;
    width: 50%;
    margin-bottom: 10px;
}